:host{
    --bg-color : #170c15;
    /* --bg-color-b : #0C1317; */
    --bg-color2 : #33202c;
    /* --bg-color2-b : #202C33; */
    --bg-color3: #21111f;
    /* --bg-color3-b : #111B21; */
    --bg-color4: #1a0b18;
    /* --bg-color4-b : #0B141A; */
    --bg-color5: #422a3d;
    /* --bg-color5-b : #2A3942; */
    --icon-bg-color : #483746;
    /* --icon-bg-color-b : #374248; */
    --text-color1 : #c1aebb;
    /* --text-color1-b : #AEBAC1; */
    display: block;
    /* background-color: #0C1317; */
    background-color: var(--bg-color);
    height: 100vh;

}
#main-container{
    width: 80%;
    display: flex ;
    margin: auto;
    color: #fff;
    /* background-color: #202C33; */
    border-radius: 5px;
    padding-top: 1%;
}
#options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    gap: 1rem;
    background-color: var(--bg-color2);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 90vh;
}
#options #profile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
}
#profile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
#options2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
