:host{
    background-color: #1a0b1a;
    border-radius: 10px;
    height: 90vh;
}
#chatbox-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
#selected-user{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33202c;
    width: 70vw;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 1%;
    color: #c1aebb;
}
#profile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    position: relative;
}
#messages{
    width: 100%;
    background-color: #1a0b18;
    flex-grow: 1;
}
#textbox{
    background-color: #33202c;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#text{
    width: 85%;
    background-color: #422a3d;
    font-size: large;
    color: #c1aebb;
    padding: 1% 1%;
    border-radius: 10px;
}