:host{
    border-radius: 10px;
    height: 90vh;
}
#chatbox-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
#selected-user{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color2);
    width: 70vw;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 1%;
    color: var(--text-color1);
}
#profile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    position: relative;
}
#messages{
    width: 100%;
    background-color: var(--bg-color4);
    flex-grow: 1;
}
#textbox{
    background-color: var(--bg-color2);  
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#text{
    width: 85%;
    background-color: var(--bg-color5);

    font-size: large;
    color: var(--text-color1);

    padding: 1% 1%;
    border-radius: 10px;
}