<header id="header">
    <div>
        <div id="logo-cont">
            <i class="fa-solid fa-message fa-lg" id="logo" style="color: #FF0970;"></i>
            <h4>Chatapp</h4>
        </div>
        <div class="spacer">
            <a>Features</a>
            <a>Security</a>
            <a>News</a>
            <a>Help Center</a>
        </div>
        <div id="link-container">
            <a class="link" href="">Login</a>
            <a class="link" href="">Register</a>
        </div>
    </div>
</header>
<section id="welcome">
    <span id="header-big">Your privacy <br/> is our <br/> priority</span>
    <span id="welcome-info">Easy, reliable, free, worldwide <br/> private messaging app </span>
    <button id="learn-more">Learn more</button>
</section>  