<header id="header">
    <div>
        <div id="logo-cont">
            <i class="fa-solid fa-message fa-lg" id="logo" style="color: #FF0970;"></i>
            <h4>Chatapp</h4>
        </div>
        <div class="spacer">
            <a>Features</a>
            <a>Security</a>
            <a>News</a>
            <a>Help Center</a>
        </div>
        <div id="link-container">
            <a class="link" href="">Login</a>
            <a class="link" href="">Register</a>
        </div>
    </div>
</header>
<section id="welcome">
    <span id="header-big">Your privacy <br/> is our <br/> priority</span>
    <span id="welcome-info">Easy, reliable, free, worldwide <br/> private messaging app </span>
    <button id="learn-more">Learn more</button>
</section>  
<section id="sec2">
    
    <img src="bestgimp.png" /> 
    <!-- <img src="bettergimp2.png" /> -->
    <div>
        <img src="sidegimp1.png" />
        <span>
            Talk freely and feel close <br> to your loved ones <br> anywhere in the world.
        </span>
        <img src="sidegimp1.png" />
    </div>
    

    <img src="bestgimp.png" /> 
</section>
<footer>
    <div class="row">
        <div class="column">
            <div id="brand">
                <i class="fa-solid fa-message fa-2xl" id="brand-logo" style="color: #FFFFFF;"></i>
                <h2>Chatapp</h2>
            </div>
            <div id="social">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
        <div class="column">
            <span>What we do</span>
            <a>Features</a>
            <a>Security</a>
            <a>News</a>
        </div>
        <div class="column">
            <span>Who we are</span>
            <a>About Us</a>
            <a>Privacy</a>
        </div>
        <div class="column">
            <span>Need help</span>
            <a>Help Center</a>
            <a>Contact Us</a>
        </div>
    </div>
    <div id="divider"></div>
    
    <div id="bottom">
        <span>2024 &#64; Chatapp all rights reserved</span>
        <span>Made with Angular&#64;18 <i class="fa-brands fa-angular"></i></span>
        
    </div>
</footer>