
/* Section welcome */

#welcome{
    display: flex;
    flex-direction: column;
    background-image: url("https://media.wired.com/photos/6495ed5188479249e0cc2aa2/16:9/w_2400,h_1350,c_limit/Make-Instant-Messaging-More-Secure-GettyImages-1344990848.jpg");
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    padding: 7% 15%;
    color: #fff;
    box-shadow: 0px 0px 130px 7px rgba(99,17,254,0.4);;
}
#header-big{
    font-size: 5rem;
    margin-bottom: 2rem;

}
#welcome-info{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
#learn-more{
    width: 10%;
    height: 3rem;
    border-radius: 50px;
    background: linear-gradient(to bottom, #FF0970 50%, #fff 50%) top;
    background-size: 100% 200%;
    transition: all .5s ease-out;
    border: 0;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
#learn-more:hover{
    background-position: bottom;
    color: #FF0970;
}
/* Section www */
section + section{
    margin-top: 5%;
}
#sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-timeline-name: --squareTimeline;
}
#sec2 img{
    margin-bottom: 5%;
    width: 50%;
    animation: fade linear;
    animation-fill-mode: forwards ;
    opacity: 0;
    z-index: 1;
    animation-timeline: view();
    animation-range-start: 200px;
    animation-range-end: 300px;
       

}
@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
#sec2 span{
    text-align: center;
    font-size: 4rem;
    animation: fade linear;
    animation-fill-mode: forwards ;
    opacity: 0;
   
    animation-timeline: view();
    animation-range-start: 200px;
    animation-range-end: 300px;
}
#sec2 > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sec2 > div img{
    width: 12%;
}

/* Footer */
footer{
    background-color: #111B21;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fff;

}
footer .row{
    width: 60%;
    margin: auto;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}
footer .column{
    display: flex;
    flex-direction: column;
}
footer #brand{
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}
footer #brand #brand-logo{
    margin-right: 1%;
}
footer #social{
    display: flex;
    gap: 5%;
}
footer #social i{
    padding: 5%;
    border: 1px #fff solid;
    border-radius: 100%;
    
}
footer .column span{
    margin-top: 30%;
    margin-bottom: 10%;
    font-size: small;
}
footer .column a{
    padding-top: 5%;
    margin-bottom: 5%;
    font-size: medium;
    cursor: pointer;

}
#divider{
    margin: auto;
    margin-bottom: 1%;
    width: 80%;
    height: 1px;
    background-color: #39454d;
}
#bottom{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}