.material-symbols-outlined{
    font-size: 30px;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    color: #c1aebb;
}
.material-symbols-outlined:active{
    background-color: #483746;
}