.material-symbols-outlined{
    font-size: 30px;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    color: var(--text-color1);

}
.material-symbols-outlined:active{
    background-color: var(--icon-bg-color);

}